<% @tasks.select do |task| %>
<% task.completed == false %>
<% end.each do |task| %>
<ul>
  <li>Boss: <%= link_to task.boss.name, boss_path(task.boss) %></li>
  <li>Category: <%= task.category %></li>
  <li>Description: <%= task.description %></li>
  <li>Time: <%= task.time_view %></li>
  <li>Location: <%= task.location %></li>
  <% if task.vehicle %>
  <li>Vehicle needed: Yes</li>
  <% else %>
  <li>Vehicle needed: No</li>
  <% end %>
  <li>Hours: <%= task.minutes / 60.0 %></li>
  <li>Price Rate per hour: $<%= task.price_rate / 100.0 %></li>
  <li>Task id: <%= task.id %></li>
</ul>
<% end %>
