<h1>Edit Task</h1>

<% if @task.errors.any? %>
  <h1><%= pluralize(@task.errors.count, 'Error') %>
  <% @task.errors.full_messages.each do |error| %></h1>
    <h2><%= error %></h2>
  <% end %>
<% end %>

<% if logged_in? && the_user == @task.boss %>
  <%= render "form" %>
  <%= form_tag task_path(@task), method: "delete", data: { confirm: "Are you sure you would like to delete this Task?" } do %>
    <%= submit_tag "Delete Task" %>
  <% end %>
<% else %>
    <p>You do not have access to this page.</p>
<% end %>
