<h3>All Taskers</h3><br>

<% @taskers.each do |tasker| %>
<ul>
  <li><b>id: <%= tasker.id %></b></li>
  <li><b>Name: </b><%= tasker.name %></li>
  <li><b>Username: </b><%= tasker.username %></li>
  <li><b>Email: </b><%= tasker.email %></li>
  <li><b>City: </b><%= tasker.city %></li>
  <% if tasker.vehicle %>
  <li><b>Vehicle: </b>Yes</li>
  <% else %>
  <li><b>Vehicle: </b>No</li>
  <% end %>
  <li><b>Bio: </b><%= tasker.bio %></li>
</ul><br>
<% end %>
