<h3>Tasker Profile</h3>
<% if logged_in? && the_user == @tasker %>
  <h2>Hi, <%= @tasker.name %></h2>
<% else %>
  <h2><%= @tasker.name %>'s Profile</h2>
<% end %>

<br>
<ul>
  <li><b>Name: </b><%= @tasker.name %></li>
  <li><b>Username: </b><%= @tasker.username %></li>
  <li><b>Email: </b><%= @tasker.email %></li>
  <li><b>City: </b><%= @tasker.city %></li>
  <% if @tasker.vehicle %>
  <li><b>Vehicle: </b>Yes</li>
  <% else %>
  <li><b>Vehicle: </b>No</li>
  <% end %>
  <li><b>Bio: </b><%= @tasker.bio %></li>
</ul><br>

<h4>Completed: </h4><br>

  <% @tasker.tasks.select do |task| %>
  <% task.completed == true %>
  <% end.each do |task| %>
  <ul>
    <li><b>Boss: </b><%= link_to task.boss.name, boss_path(task.boss) %></li>
    <li><b>Category: </b><%= task.category %></li>
    <li><b>Description: </b><%= task.description %></li>
    <li><b>Start Time: </b><%= task.time_view %></li>
    <li><b>Location: </b><%= task.city %></li>
    <li><b>Hours: </b><%= task.minutes / 60.0 %></li>
    <li><b>Price Rate per hour: </b>$<%= task.price_rate / 100.0 %></li>
    <li><b>Task id: </b><%= task.id %></li>
  </ul><br>
  <% end %>


<p><%= link_to "Edit Profile", edit_tasker_path(@tasker) %>
