<h2>Hi, <%= @tasker.name %></h2>
<h3>Tasker Profile</h3>

<ul>
  <li>Name: <%= @tasker.name %></li>
  <li>Username: <%= @tasker.username %></li>
  <li>Email: <%= @tasker.email %></li>
  <li>City: <%= @tasker.city %></li>
  <% if @tasker.vehicle %>
  <li>Vehicle: Yes</li>
  <% else %>
  <li>Vehicle: No</li>
  <% end %>
  <li>Bio: <%= @tasker.bio %></li>
</ul>

<h4>Completed: </h4>

  <% @tasker.tasks.select do |task| %>
  <% task.completed == true %>
  <% end.each do |task| %>
  <ul>
    <li>Boss: <%= link_to task.boss.name, boss_path(task.boss) %></li>
    <li>Category: <%= task.category %></li>
    <li>Description: <%= task.description %></li>
    <li>Start Time: <%= task.time_view %></li>
    <li>Location: <%= task.city %></li>
    <li>Hours: <%= task.minutes / 60.0 %></li>
    <li>Price Rate per hour: $<%= task.price_rate / 100.0 %></li>
    <li>Task id: <%= task.id %></li>
  </ul>
  <% end %>


<p><%= link_to "Edit Profile", edit_tasker_path(@tasker) %>
