<h1>Edit your Profile</h1>

<% if @boss.errors.any? %>
  <h1><%= pluralize(@boss.errors.count, 'Error') %>
  <% @boss.errors.full_messages.each do |error| %></h1>
   <h2><%= error %></h2>
  <% end %>
<% end %>

<%= render 'form' %>
<br>

<%= form_tag boss_path(@boss), method: "delete", data: { confirm: "Are you sure you would like to delete your Profile?" } do %>
  <%= submit_tag "Delete Profile" %>
<% end %>
