<h3>All Bosses</h3>

<% @bosses.each do |boss| %>
<ul>
  <li><b>id: <%= boss.id %></b></li>
  <li>Name: <%= boss.name %></li>
  <li>Username: <%= boss.username %></li>
  <li>Email: <%= boss.email %></li>
  <li>City: <%= boss.city %></li>
  <li>Rating: <%= boss.average_rating %></li>
</ul>
<% end %>
